<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'PCPS_paris11_white.svg', alt: 'logo' %>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <ul class="list-unstyled link-list">
          <li><a href="#antenne" class='scroll_to'>L'antenne</a></li>
          <li><a href="https://www.protectioncivile.org/formations-grand-public/vous-former">Formations</a></li>
          <li><a href="mailto:contact@protectioncivile-paris11.org?subject=Réservation d'un poste de secours&body=Bonjour,%0A%0ANous voudrions que vous assuriez le secours sur notre événement : .....%0A%0ADate(s) : %0ALieu(x) :%0ANombre de personnes attendues : %0ANombre de personnes attendues au même moment : %0ANature de l'événement :%0A%0ACordialement,">Poste de secours</a></li>
          <li><a href="mailto:contact@protectioncivile-paris11.org?subject=Candidature Protection Civile de Paris 11">Nous rejoindre</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <ul class="list-unstyled link-list">
          <li><b>Nous contacter :</b></li>
          <br>
          <li><b>Tel :</b> +33 (0)6 26 97 10 24</li>
          <br>
          <li><b>Adresse :</b> 1 Pont Morland - 75004 Paris</li>
          <li>
            <img class='metro' src="https://www.ratp.fr/sites/default/files/network/metro/ligne5.svg" alt=""> Quai de la Rapée
          </li>
          <li>
            <img class='metro' src="https://www.ratp.fr/sites/default/files/network/metro/ligne1.svg" alt="">
            <img class='metro' src="https://www.ratp.fr/sites/default/files/network/metro/ligne5.svg" alt="">
            <img class='metro' src="https://www.ratp.fr/sites/default/files/network/metro/ligne7.svg" alt="">
            Bastille
          </li>
          <li>
            <img class='metro' src="https://www.ratp.fr/sites/default/files/network/metro/ligne7.svg" alt="">
            Sully-Morland
          </li>
          <br>
          <li><b>Email :</b> contact@protectioncivile-paris11.org</li>
          <br>
          <li class='socials-ico'>
            <a href="https://www.facebook.com/ProtectionCivileParisSeineAntenneParis11/"><i class='fa fa-facebook'></i></a>
            <a href="https://twitter.com/PCParis11"><i class='fa fa-twitter'></i></a>
            <a href="https://www.instagram.com/protec_paris_seine_paris11/"><i class='fa fa-instagram'></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
