<nav class="navbar navbar-pcps navbar-fixed-top" id="pcps_nav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pcps_nav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag 'PCPS_paris11.svg', alt: 'logo' %>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="pcps_nav-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#antenne" class='scroll_to'>L'antenne<span class="sr-only">(current)</span></a></li>
        <li><a href="#missions" class='scroll_to'>Nos missions</a></li>
        <li><a href="mailto:contact@protectioncivile-paris11.org?subject=Candidature Protection Civile de Paris 11">Nous rejoindre</a></li>
        <li><a href="mailto:contact@protectioncivile-paris11.org?subject=Réservation d'un poste de secours&body=Bonjour,%0A%0ANous voudrions que vous assuriez le secours sur notre événement : .....%0A%0ADate(s) : %0ALieu(x) :%0ANombre de personnes attendues : %0ANombre de personnes attendues au même moment : %0ANature de l'événement :%0A%0ACordialement,">Réserver un poste de secours</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/ProtectionCivileParisSeineAntenneParis11/"><i class='fa fa-facebook'></i></a></li>
        <li><a href="https://twitter.com/PCParis11"><i class='fa fa-twitter'></i></a></li>
        <li><a href="https://www.instagram.com/protec_paris_seine_paris11/"><i class='fa fa-instagram'></i></a></li>
        <li><a href="tel:+33626971024"><i class='fa fa-phone'></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
